*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #121317;
}
.wrapper{
border: 1px solid white;
position: absolute;
width: 80vw;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
display: flex;

}
.container{
    width: 28vmin;
    height: 28vmin;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
}

i{
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}

span.num{
    color: #ffffff;

}
span.text{
    color: #e0e0e0;
}